Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}": "prettier --write",
  "**/*.{js,ts,cjs,mjs}": "eslint --fix"
}

fix(ci): build database package before running tests
  .github/workflows/ci.yml
  packages/database/package.json
Due: prettier --write

feat: implement Preview Environments for Pull Requests
  ROADMAP.md
  apps/api/src/server.ts
  apps/dashboard/src/app/page.tsx
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix

fix(api): resolve prisma type errors for preview services and format code
  apps/api/src/server.ts
  apps/dashboard/src/app/page.tsx
Due: prettier --write, eslint --fix

feat: implement github oauth backend and simplify env mapping
  apps/api/src/server.ts
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/src/app/login/page.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(dashboard): replace require() with ESM import in next.config.ts
  apps/dashboard/next.config.ts
Due: prettier --write, eslint --fix

fix(auth): prevent double OAuth exchange and enable JWT cookie support
  apps/api/src/server.ts
  apps/dashboard/src/app/auth/callback/page.tsx
Due: prettier --write, eslint --fix

Update apps/dashboard/src/app/page.tsx
  apps/dashboard/src/app/page.tsx
Due: none

Update apps/api/src/server.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

perf(database): add composite index to Service model for preview environment queries
  packages/database/prisma/schema.prisma
Due: none

refactor(api): add authorization check to deleteService helper
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

fix: implement GitHub repo proxy routes and store access token
  .gitignore
  apps/api/src/server.ts
  eslint.config.mjs
  packages/database/prisma/schema.prisma
  packages/database/src/index.ts
Due: prettier --write, eslint --fix

feat: inject github token into deployment repo url and add comprehensive tests
  apps/api/src/github.test.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

test: fix eslint explicit-any warnings in github tests
  apps/api/src/github.test.ts
Due: prettier --write, eslint --fix

docs: add metrics improvement to roadmap
  ROADMAP.md
Due: prettier --write

docs(database): mark githubAccessToken as sensitive in schema
  packages/database/prisma/schema.prisma
Due: none

feat: validate and sanitize github repos query parameters
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

feat: clarify github authentication error message
  apps/api/src/github.test.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

feat: encrypt github access tokens in database
  .env.example
  README.md
  apps/api/src/github.test.ts
  apps/api/src/server.ts
  apps/api/src/utils/crypto.ts
Due: prettier --write, eslint --fix

fix(database): remove invalid @sensitive attribute
  packages/database/prisma/schema.prisma
Due: none

feat: validate github owner and name path parameters
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

test: add comprehensive coverage for github proxy routes
  apps/api/src/github.test.ts
Due: prettier --write, eslint --fix

test: disable fastify logger during tests
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

docs: update roadmap
  ROADMAP.md
Due: prettier --write

feat: implement real-time metrics push via SSE
  ROADMAP.md
  apps/api/package.json
  apps/api/src/server.ts
  apps/dashboard/src/app/page.tsx
  apps/worker/package.json
  apps/worker/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(api): implement logout endpoint
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

style(dashboard): refine new service page UI and update roadmap
  ROADMAP.md
  apps/dashboard/src/app/new/page.tsx
Due: prettier --write

test(api): add comprehensive tests for logout endpoint
  apps/api/src/server.test.ts
Due: prettier --write, eslint --fix

feat(dashboard): initialize Tailwind CSS v4 and migrate base styles
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/tailwind.css
  apps/dashboard/tailwind.config.ts
Due: prettier --write, eslint --fix

feat(dashboard): add Footer and UserMenu components with custom icons
  apps/dashboard/src/components/Footer.tsx
  apps/dashboard/src/components/UserMenu.tsx
  apps/dashboard/src/components/icons/GithubIcon.tsx
Due: none

refactor(dashboard): migrate core UI components to Tailwind CSS
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/CookieBanner.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/LanguageSwitcher.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

feat(dashboard): overhaul Login and New Service pages with premium theme
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/new/page.tsx
Due: none

feat(dashboard): migrate Settings page to Tailwind CSS
  apps/dashboard/src/app/settings/page.tsx
Due: none

fix(dashboard): expose GitHub client ID and align API environment loading
  apps/api/src/server.ts
  apps/dashboard/next.config.ts
Due: prettier --write, eslint --fix

feat: add support for Docker Compose stacks and local volume mapping
  apps/api/src/server.ts
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/lib/translations.ts
  apps/worker/src/worker.ts
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix

fix(dashboard): add missing translation keys to fix build error
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

feat: complete internationalization and fix settings page issues
  apps/dashboard/src/app/auth/callback/page.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/app/settings/page.tsx
  apps/dashboard/src/components/Footer.tsx
  apps/dashboard/src/components/GitHubRepoPicker.test.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/components/LanguageSwitcher.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/components/UserMenu.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

fix(worker): fix YAML and shell injection vulnerabilities in deployment logic
  apps/worker/package.json
  apps/worker/src/worker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: normalize service type in API and fix dashboard database selection
  apps/api/src/server.ts
  apps/dashboard/src/app/new/page.tsx
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

test: add comprehensive tests for worker hardening and api normalization
  apps/api/src/normalization.test.ts
  apps/worker/src/utils/generators.test.ts
  apps/worker/src/utils/generators.ts
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

feat: implement thorough docker resource cleanup on service deletion
  apps/api/package.json
  apps/api/src/delete_cleanup.test.ts
  apps/api/src/github.test.ts
  apps/api/src/normalization.test.ts
  apps/api/src/server.ts
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/components/Footer.tsx
  apps/worker/src/utils/generators.test.ts
Due: prettier --write, eslint --fix
