Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}": "prettier --write",
  "**/*.{js,ts,cjs,mjs}": "eslint --fix"
}

Update apps/dashboard/src/components/ThemeSwitcher.tsx
  apps/dashboard/src/components/ThemeSwitcher.tsx
Due: none

Update apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/login/page.tsx
Due: none

Update apps/dashboard/src/app/login/page.test.tsx
  apps/dashboard/src/app/login/page.test.tsx
Due: none

Update apps/api/src/config/swagger.ts
  apps/api/src/config/swagger.ts
Due: prettier --write, eslint --fix

chore: sync github_issues.json with created issues [skip ci]
  github_issues.json
Due: prettier --write

style: fix responsive behaviour
  apps/dashboard/src/app/projects/[id]/page.tsx
  apps/dashboard/src/components/ProjectCard.tsx
Due: none

chore: sync gh issues
  github_issues.json
Due: prettier --write

feat(scripts): enhance issue sync with strict repo targeting and content hashing
  github_issues.json
  scripts/sync-github-issues.js
Due: prettier --write, eslint --fix

feat: improve stripe integration and standardize api responses
  apps/api/package.json
  apps/api/src/config/stripe.ts
  apps/api/src/controllers/BillingController.ts
  apps/api/src/controllers/StripeWebhookController.ts
  apps/api/src/routes/feature-flag.routes.ts
  apps/api/src/routes/service.routes.ts
  apps/api/src/server.ts
  apps/api/src/services/BillingService.ts
  package.json
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/logger.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(api): fix test failures by ensuring environment initialization and server readiness
  apps/api/src/index.ts
  apps/api/src/server.test.ts
  apps/api/src/server.ts
  packages/database/prisma/migrations/20260117170111_add_developer_role_and_avatar/migration.sql
Due: prettier --write, eslint --fix

refactor(api): improve type safety in StripeWebhookController
  apps/api/src/controllers/StripeWebhookController.ts
Due: prettier --write, eslint --fix

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

fix(worker): replace deprecated usage reporting method
  apps/worker/src/index.ts
  apps/worker/src/usageCollection.ts
Due: prettier --write, eslint --fix

style(dashboard): apply comprehensive light mode fixes
  apps/dashboard/docs/MODERN_THEME_SWITCH.md
  apps/dashboard/docs/THEME_SWITCHER.md
  apps/dashboard/src/app/deployments/page.tsx
  apps/dashboard/src/app/organizations/[id]/settings/page.tsx
  apps/dashboard/src/app/organizations/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/app/projects/[id]/page.tsx
  apps/dashboard/src/app/settings/page.tsx
  apps/dashboard/src/app/tailwind.css
  apps/dashboard/src/components/Footer.tsx
  apps/dashboard/src/components/GitHubImagePicker.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/LogsModal.tsx
  apps/dashboard/src/components/ModernThemeSwitch.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/components/NewProjectModal.tsx
  apps/dashboard/src/components/OrganizationSwitcher.tsx
  apps/dashboard/src/components/ProjectCard.tsx
  apps/dashboard/src/components/SearchBar.tsx
  apps/dashboard/src/components/ServiceCard/ServiceCard.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
  apps/dashboard/src/components/new-service/ImportSourceStep.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.tsx
  apps/dashboard/src/components/new-service/StepIndicator.tsx
  apps/dashboard/src/components/organizations/MemberManagement.tsx
  docs/ROADMAP.md
  packages/shared-ui/src/ui/Navigation.tsx
  packages/shared-ui/src/ui/UserMenu.tsx
Due: prettier --write

style(landing): add light mode support to landing page
  apps/dashboard/src/components/LandingPage.tsx
Due: none

style: format code with prettier
  apps/dashboard/src/app/deployments/page.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/organizations/[id]/settings/page.tsx
  apps/dashboard/src/app/organizations/page.tsx
  apps/dashboard/src/app/settings/page.tsx
  apps/dashboard/src/components/EditServiceModal.tsx
  apps/dashboard/src/components/GitHubImagePicker.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/LogsModal.tsx
  apps/dashboard/src/components/NewEnvironmentModal.tsx
  apps/dashboard/src/components/ServiceCard/ServiceCard.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
  apps/dashboard/src/components/new-service/ImportSourceStep.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.tsx
  apps/dashboard/src/components/new-service/StepIndicator.tsx
  apps/dashboard/src/components/organizations/MemberManagement.tsx
  apps/dashboard/src/components/service-forms/ComposeConfigFields.tsx
  apps/dashboard/src/components/service-forms/DockerConfigFields.tsx
  apps/dashboard/src/components/service-forms/GHCRConfigFields.tsx
  apps/dashboard/src/components/service-forms/StaticConfigFields.tsx
  packages/shared-ui/src/ui/LanguageSwitcher.tsx
  packages/shared-ui/src/ui/Navigation.tsx
Due: none

style(shared-ui): fix LanguageSwitcher in light mode
  packages/shared-ui/src/ui/LanguageSwitcher.tsx
  packages/shared-ui/src/ui/Navigation.tsx
Due: none

style(ui): complete light mode implementation
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/components/NewEnvironmentModal.tsx
  apps/dashboard/src/components/ProjectCard.tsx
  packages/shared-ui/package.json
  packages/shared-ui/src/ui/ConfirmationModal.tsx
  packages/shared-ui/src/ui/LanguageSwitcher.tsx
Due: prettier --write

style(login): add light mode support to login page
  apps/dashboard/src/app/login/page.tsx
Due: none

Apply suggestions from code review
  apps/dashboard/src/components/ModernThemeSwitch.tsx
Due: none

style(shared-ui): fix LanguageSwitcher in light mode
  apps/dashboard/src/components/ModernThemeSwitch.tsx
Due: none

fix(dashboard): fix billing tests and refine UI
  apps/dashboard/src/app/billing/page.tsx
  apps/dashboard/src/components/billing/CurrentPlanCard.test.tsx
  apps/dashboard/src/components/billing/CurrentPlanCard.tsx
  apps/dashboard/src/components/billing/InvoiceList.test.tsx
  apps/dashboard/src/components/billing/InvoiceList.tsx
  apps/dashboard/src/components/billing/PlanCard.tsx
  apps/dashboard/src/components/billing/UsageMetrics.tsx
  apps/dashboard/src/hooks/useBilling.test.tsx
  apps/dashboard/src/hooks/useBilling.ts
Due: prettier --write, eslint --fix

fix: subscription enforcement integration tests and add missing schema fields
  apps/api/src/subscription-enforcement.integration.test.ts
  packages/database/prisma/migrations/20260118081313_add_subscription_suspension_fields/migration.sql
Due: prettier --write, eslint --fix

fix: remove unused variables to resolve lint warnings
  apps/api/src/subscription-enforcement.integration.test.ts
Due: prettier --write, eslint --fix

fix(billing): resolve subscription update type errors and improve middleware edge case handling
  apps/api/src/controllers/StripeWebhookController.error-handling.test.ts
  apps/api/src/middleware/subscription.middleware.edge-cases.test.ts
  apps/api/src/middleware/subscription.middleware.ts
  apps/api/src/services/BillingService.edge-cases.test.ts
Due: prettier --write, eslint --fix

fix(auth): fix admin login sequence and error handling
  apps/admin/src/app/login/page.tsx
  apps/api/src/routes/auth.routes.ts
Due: prettier --write, eslint --fix

test(auth): add validation tests for login route to prevent regression
  apps/api/src/auth-validation.test.ts
Due: prettier --write, eslint --fix

test(api): add subscription webhook tests and resolve merge conflicts in enforcement tests
  apps/api/src/middleware/subscription-webhooks.test.ts
  apps/api/src/subscription-enforcement.integration.test.ts
Due: prettier --write, eslint --fix

fix(terms): resolve 404 error, fix date display and refine UI
  apps/api/src/controllers/TermsController.ts
  apps/api/src/scripts/init-terms.ts
  apps/api/src/server.ts
  apps/dashboard/src/app/terms/page.tsx
  apps/dashboard/src/components/TermsAcceptanceModal.tsx
  apps/dashboard/src/hooks/useTermsAcceptance.ts
  apps/dashboard/src/types/terms.ts
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix

fix(api): add standardRateLimitConfig and finalize Terms of Service implementation
  apps/api/src/config/rateLimit.ts
  apps/api/src/controllers/TermsController.ts
  apps/api/src/interfaces/ITermsRepository.ts
  apps/api/src/interfaces/index.ts
  apps/api/src/repositories/PrismaTermsRepository.ts
  apps/api/src/services/TermsService.ts
  apps/dashboard/src/app/terms/page.tsx
  apps/dashboard/src/components/TermsAcceptanceModal.tsx
  apps/dashboard/src/hooks/useTermsAcceptance.test.tsx
Due: prettier --write, eslint --fix

test: fix PrivacyPolicyService test for additional language
  apps/api/src/services/PrivacyPolicyService.test.ts
Due: prettier --write, eslint --fix

feat: synchronize Terms and Privacy language with main menu
  apps/dashboard/src/app/privacy-policy/page.tsx
  apps/dashboard/src/app/terms/page.tsx
  packages/shared-ui/src/config/LanguageContext.tsx
  packages/shared-ui/src/ui/LanguageSwitcher.tsx
Due: none

docs: consolidate documentation files in docs/
  docs/ADMIN_EXTRACTION.md
  docs/AUTHENTICATION.md
  docs/BILLING.md
  docs/CI_DATABASE_SETUP.md
  docs/CONFIGURATION_PARSER.md
  docs/DEPLOYMENT.md
  docs/FEATURES.md
  docs/INFRASTRUCTURE.md
  docs/INTEGRATION_TESTS.md
  docs/LOGIN_PAGE_DESIGN.md
  docs/LOGIN_PAGE_IMPLEMENTATION_SUMMARY.md
  docs/ORGANIZATIONS.md
  docs/README.md
  docs/SUBSCRIPTION_MIDDLEWARE_TESTS.md
  docs/TEAM_COLLABORATION_IMPLEMENTATION.md
  docs/TESTING.md
  docs/TEST_COVERAGE_REPORT.md
Due: prettier --write

chore: remove moved markdown files from root
  BILLING_TEST_INFRASTRUCTURE_SUMMARY.md
  BILLING_UI_SUMMARY.md
  BILLING_UI_VISUAL.md
  TERMS_OF_SERVICE_IMPLEMENTATION.md
Due: prettier --write

docs: improve getting started section
  README.md
Due: prettier --write

chore: add ne gh issue and sync
  github_issues.json
Due: prettier --write
