Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,json,md}": "prettier --write",
  "*.{js,ts,cjs,mjs}": "eslint --fix"
}

docs: minor update to test lint-staged
  README.md
Due: prettier --write

chore: format pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: implement comprehensive testing across all services
  ROADMAP.md
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/placeholder.test.ts
  apps/api/src/server.test.ts
  apps/api/src/server.ts
  apps/api/src/test/setup.ts
  apps/api/vitest.config.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/GitHubRepoPicker.test.tsx
  apps/dashboard/src/test/setup.ts
  apps/dashboard/vitest.config.ts
  apps/worker/src/index.ts
  apps/worker/src/placeholder.test.ts
  apps/worker/src/test/setup.ts
  apps/worker/src/utils/logs.test.ts
  apps/worker/src/utils/logs.ts
  apps/worker/src/worker.test.ts
  apps/worker/src/worker.ts
  apps/worker/vitest.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(dashboard): resolve vitest config type mismatch for build
  apps/dashboard/vitest.config.ts
Due: prettier --write, eslint --fix

chore(dashboard): extract hardcoded URLs to env and fix lints
  .env.example
  README.md
  ROADMAP.md
  apps/api/src/server.test.ts
  apps/dashboard/README.md
  apps/dashboard/src/app/auth/callback/page.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/lib/config.ts
  apps/dashboard/vitest.config.ts
Due: prettier --write, eslint --fix

fix(dashboard): resolve useEffect dependency issues and potential infinite loops in Home page
  apps/dashboard/src/app/page.tsx
Due: none

docs: update roadmap for react state management fix
  ROADMAP.md
Due: prettier --write

refactor: improve code readability by reformatting conditional class names and chained method calls
  apps/dashboard/src/app/page.tsx
Due: none

chore: improve UI/UX, accessibility, and hydration fixes
  ROADMAP.md
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: prettier --write

docs: update roadmap with completed tasks
  ROADMAP.md
Due: prettier --write

chore: remove unused tailwind-merge dependency
  ROADMAP.md
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: prettier --write

style: run prettier format
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

feat: implement secure http-only cookies for token storage and proxy github requests
  apps/api/package.json
  apps/api/src/server.ts
  apps/dashboard/src/app/auth/callback/page.tsx
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/lib/github.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: mark token security task as completed
  ROADMAP.md
Due: prettier --write

style: apply code formatting via pnpm format
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
Due: none

fix(auth): add credentials include to auth callback to enable cookie persistence
  apps/dashboard/src/app/auth/callback/page.tsx
Due: none

feat: add marketing and PR tasks to roadmap
  ROADMAP.md
Due: prettier --write

feat: implement switzerland hosting platform rebranding
  ROADMAP.md
  apps/dashboard/public/logo.png
  apps/dashboard/src/components/CookieBanner.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

docs: improve roadmap tracking for swiss hosting feature set
  ROADMAP.md
Due: prettier --write

chore: replace favicon with new glassmorphic icon
  apps/dashboard/src/app/favicon.ico
  apps/dashboard/src/app/icon.png
Due: none

chore: use main logo as favicon
  apps/dashboard/src/app/icon.png
Due: none

style: format landing page code
  apps/dashboard/src/components/LandingPage.tsx
Due: none

fix(a11y): add aria-labels to language buttons and restore hero title styling
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

refactor: final polish on landing page and translations
  apps/dashboard/src/components/CookieBanner.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

refactor: replace img tag with Display Image component
  apps/dashboard/src/components/Navigation.tsx
Due: none

chore: update translations
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

docs: add code review findings to roadmap
  ROADMAP.md
Due: prettier --write

feat: implement global language switcher in navigation
  ROADMAP.md
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/lib/LanguageContext.tsx
Due: prettier --write

feat: add login button to main menu with translations
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

chore: remove unused mounted state
  apps/dashboard/src/lib/LanguageContext.tsx
Due: none

style: format code
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

feat: translate dashboard and main menu
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

fix(dashboard): update Tailwind CSS variable syntax and fix imports
  .gitignore
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

fix(dashboard): typing issue in language switcher
  apps/dashboard/src/components/Navigation.tsx
Due: none

Update apps/dashboard/src/components/CookieBanner.tsx
  apps/dashboard/src/components/CookieBanner.tsx
Due: none

fix(dashboard): internationalize cookie banner title
  apps/dashboard/src/components/CookieBanner.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

fix(dashboard): prevent hydration mismatch and rename cookie handler
  apps/dashboard/src/components/CookieBanner.tsx
  apps/dashboard/src/lib/LanguageContext.tsx
Due: none

fix(dashboard): explicit cast for language selection
  apps/dashboard/src/components/Navigation.tsx
Due: none

refactor(dashboard): extract LanguageSwitcher and improve a11y
  apps/dashboard/src/components/LanguageSwitcher.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

Update apps/dashboard/src/lib/LanguageContext.tsx
  apps/dashboard/src/lib/LanguageContext.tsx
Due: none
