Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}": "prettier --write",
  "**/*.{js,ts,cjs,mjs}": "eslint --fix"
}

chore: add db backup script and ignore backup files
  .gitignore
  package.json
  scripts/db/backup.sh
Due: prettier --write

feat(db): add database restoration script and documentation
  .docs/DATABASE_MIGRATIONS.md
  package.json
  scripts/db/restore.sh
Due: prettier --write

feat: add support for service volumes
  apps/api/src/controllers/DeploymentController.ts
  apps/api/src/controllers/ServiceController.ts
  apps/api/src/dto/deployment.dto.ts
  apps/api/src/dto/service.dto.ts
  apps/api/src/interfaces/IServiceRepository.ts
  apps/api/src/repositories/PrismaServiceRepository.ts
  apps/api/src/schemas/service.schema.ts
  apps/api/src/services/DeploymentOrchestratorService.ts
  apps/api/src/services/ServiceManagementService.ts
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/components/EditServiceModal.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
  apps/dashboard/src/components/new-service/types.ts
  apps/dashboard/src/types/service.ts
  apps/worker/src/interfaces/IDeploymentStrategy.ts
  apps/worker/src/interfaces/IServiceRepository.ts
  apps/worker/src/strategies/ComposeDeploymentStrategy.ts
  apps/worker/src/strategies/DockerDeploymentStrategy.ts
  apps/worker/src/strategies/StaticDeploymentStrategy.ts
  apps/worker/src/utils/builders/ComposeFileBuilder.ts
  apps/worker/src/utils/containerHelpers.ts
  apps/worker/src/worker.ts
  packages/database/prisma/migrations/20260113133411_add_service_volumes/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix

feat: enhance admin auth, ui interactions and testing
  apps/api/src/body-limit.test.ts
  apps/api/src/controllers/OrganizationController.test.ts
  apps/api/src/controllers/OrganizationController.ts
  apps/api/src/normalization.test.ts
  apps/api/src/repositories/PrismaServiceRepository.test.ts
  apps/api/src/server.test.ts
  apps/api/src/services/InitializationService.test.ts
  apps/api/src/services/InitializationService.ts
  apps/api/src/validation.test.ts
  apps/dashboard/src/app/admin/feature-flags/page.tsx
  apps/dashboard/src/app/admin/login/page.tsx
  apps/dashboard/src/app/admin/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/app/projects/[id]/page.test.tsx
  apps/dashboard/src/app/projects/[id]/page.tsx
  apps/dashboard/src/app/settings/page.tsx
  apps/dashboard/src/components/ConfirmationModal.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.test.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
  apps/dashboard/src/components/organizations/MemberManagement.tsx
  apps/dashboard/src/hooks/useAdminAuth.ts
  apps/dashboard/src/types/organization.ts
Due: prettier --write, eslint --fix

refactor(dashboard): use useAdminAuth hook in feature flags page
  apps/dashboard/src/app/admin/feature-flags/page.tsx
  apps/dashboard/src/hooks/useAdminAuth.test.tsx
Due: none

docs(api): add TODO for improving slug generation security
  apps/api/src/services/OrganizationService.ts
Due: prettier --write, eslint --fix

docs(api): add TODO for improving password hashing security
  apps/api/src/services/AuthenticationService.ts
Due: prettier --write, eslint --fix

docs(api): add TODO for robust personal organization creation
  apps/api/src/services/AuthenticationService.ts
Due: prettier --write, eslint --fix

docs(api): add TODO for getOrganizationProjects test coverage
  apps/api/src/services/ProjectManagementService.ts
Due: prettier --write, eslint --fix

feat: stable docker network aliases and recreate strategy for db
  apps/worker/src/utils/containerHelpers.ts
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

fix: ensure recreate strategy is used for services with writable volumes
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

refactor: use constant for recreate strategy postfix
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

fix: improve deployment logs for stateful vs stateless cleanup
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

fix: safe rollback for stateful services by stopping instead of removing old containers pre-start
  apps/worker/src/utils/containerHelpers.ts
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

style: remove duplicate log message
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

feat(worker): expand stateful service support and config
  apps/worker/src/strategies/DatabaseDeploymentStrategy.ts
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

Update apps/api/docs/README.md
  apps/api/docs/README.md
Due: prettier --write

feat(deployment): add production setup, docker configuration and documentation
  README.md
  apps/api/Dockerfile
  apps/dashboard/Dockerfile
  apps/dashboard/next.config.ts
  apps/dashboard/src/app/admin/page.tsx
  apps/dashboard/src/app/admin/server-setup/page.tsx
  apps/worker/Dockerfile
  docker-compose.prod.yml
  docs/DEPLOYMENT.md
Due: prettier --write, eslint --fix

fix(deployment): resolve build issues and missing config
  .env.example
  .env.test.example
  apps/api/Dockerfile
  apps/api/tsconfig.json
  apps/dashboard/Dockerfile
  apps/worker/Dockerfile
  apps/worker/tsconfig.json
  docker-compose.prod.yml
  letsencrypt/acme.json
  scripts/test-deployment-locally.sh
Due: prettier --write

fix(deploy): pass PLATFORM_DOMAIN to worker for dynamic routing
  docker-compose.prod.yml
Due: prettier --write

chore: miscellaneous container and dashboard improvements
  apps/api/Dockerfile
  apps/api/tsconfig.json
  apps/dashboard/Dockerfile
  apps/dashboard/src/app/admin/page.tsx
  apps/dashboard/src/app/admin/server-setup/page.tsx
  apps/dashboard/src/components/ServiceCard/ServiceCard.tsx
  apps/worker/Dockerfile
Due: prettier --write

test(api): improve test environment isolation and vitest defaults
  apps/api/src/config/env.test.ts
  apps/api/src/load-env.ts
  apps/api/vitest.config.ts
Due: prettier --write, eslint --fix

fix(ci): add redis url to test environment
  .github/workflows/ci.yml
Due: prettier --write

test(worker): add default test environment variables to vitest config
  apps/worker/vitest.config.ts
Due: prettier --write, eslint --fix

refactor: use compact zod validation syntax across the codebase
  .github/instructions/backend.instructions.md
  apps/api/docs/SAFE_QUERY_PATTERNS.md
  apps/api/src/config/env.ts
  apps/dashboard/src/lib/env.ts
  github_issues.json
Due: prettier --write, eslint --fix

refactor(worker): use compact zod url validation for redis url
  apps/worker/src/config/env.ts
Due: prettier --write, eslint --fix

fix(deploy): switch local domain to .localhost for wildcard DNS support
  apps/dashboard/src/lib/env.ts
  scripts/test-deployment-locally.sh
Due: prettier --write, eslint --fix

docs: remove invalid excludeAgent property from instructions and fix zod branch schema
  .github/instructions/backend.instructions.md
  .github/instructions/database.instructions.md
  .github/instructions/frontend.instructions.md
  apps/api/docs/SAFE_QUERY_PATTERNS.md
Due: prettier --write

chore: update local test script to use HTTP and .env.local
  .gitignore
  scripts/test-deployment-locally.sh
Due: none

feat: add branch support to server setup page
  apps/dashboard/src/app/admin/server-setup/page.tsx
  docker-compose.prod.yml
  docker-compose.test.yml
Due: prettier --write

feat: add admin credentials to server setup page
  apps/dashboard/src/app/admin/server-setup/page.tsx
Due: none

fix: connection between builder containers and docker-socket-proxy
  apps/dashboard/src/app/admin/server-setup/page.tsx
  apps/worker/src/strategies/DockerDeploymentStrategy.ts
  apps/worker/src/strategies/StaticDeploymentStrategy.ts
Due: prettier --write, eslint --fix

chore: implement startup health checks in docker-compose and setup script
  apps/dashboard/src/app/admin/server-setup/page.tsx
  docker-compose.prod.yml
Due: prettier --write

fix: add verbose logging to container startup for debugging
  apps/worker/src/utils/containerHelpers.ts
Due: prettier --write, eslint --fix

fix: export built images to docker daemon and sanitize logs
  apps/worker/src/strategies/DockerDeploymentStrategy.ts
  apps/worker/src/strategies/StaticDeploymentStrategy.ts
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

fix: remove AutoRemove from builder containers and clean up debug logs
  apps/worker/src/strategies/DockerDeploymentStrategy.ts
  apps/worker/src/strategies/StaticDeploymentStrategy.ts
  apps/worker/src/utils/containerHelpers.ts
Due: prettier --write, eslint --fix

feat: improve GHCR pull authentication and add organization access guidance
  .env.example
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/locales/de.json
  apps/dashboard/src/locales/en.json
  apps/dashboard/src/locales/fr.json
  apps/dashboard/src/locales/gsw.json
  apps/dashboard/src/locales/it.json
  apps/worker/src/strategies/DockerDeploymentStrategy.ts
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

docs: add database migration step to deployment guide
  docs/DEPLOYMENT.md
Due: prettier --write

chore: remove redundant ENV declarations in dashboard Dockerfile
  apps/dashboard/Dockerfile
Due: none

feat(dashboard): enhance server setup with secret generation and improved UX
  apps/dashboard/src/app/admin/server-setup/page.tsx
Due: none
