Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(dashboard): refactor server setup into modular components and hooks
  apps/dashboard/src/app/admin/server-setup/components/ConfigurationForm.tsx
  apps/dashboard/src/app/admin/server-setup/components/InputWithAction.tsx
  apps/dashboard/src/app/admin/server-setup/components/ScriptViewer.tsx
  apps/dashboard/src/app/admin/server-setup/hooks/useServerSetup.ts
  apps/dashboard/src/app/admin/server-setup/page.tsx
  apps/dashboard/src/app/admin/server-setup/utils/script-generators.ts
Due: prettier --write, eslint --fix

style(dashboard): move terminal usage guide to top and make it permanent
  apps/dashboard/src/app/admin/server-setup/components/ScriptViewer.tsx
Due: none

fix(dashboard): use docker compose run for migrations in setup script to avoid race conditions
  apps/dashboard/src/app/admin/server-setup/utils/script-generators.ts
Due: prettier --write, eslint --fix

fix(deployment): resolve prisma db connection issue with safe secrets
  apps/dashboard/src/app/admin/server-setup/utils/script-generators.ts
  docker-compose.prod.yml
Due: prettier --write, eslint --fix

fix(admin): improve auth testing and dashboard access checks
  apps/admin/src/app/page.test.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/hooks/useAdminAuth.test.ts
  apps/worker/docs/HEALTH_CHECK.md
  apps/worker/docs/MONITORING_SETUP.md
  apps/worker/src/config/constants.ts
  apps/worker/src/config/env.test.ts
  apps/worker/src/config/env.ts
  package.json
Due: prettier --write, eslint --fix

feat: seed feature flags used in code and enhance server setup UI
  apps/admin/src/app/feature-flags/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/app/server-setup/components/ConfigurationForm.tsx
  apps/admin/src/app/server-setup/hooks/useServerSetup.ts
  apps/admin/src/app/server-setup/page.tsx
  apps/admin/src/hooks/useAdminAuth.ts
  apps/api/src/services/InitializationService.test.ts
  apps/api/src/services/InitializationService.ts
Due: prettier --write, eslint --fix

fix(shared-ui): fix act() warning and lint errors in LanguageContext test
  packages/shared-ui/src/config/__tests__/LanguageContext.test.tsx
Due: none

chore: commit user changes
  apps/admin/package.json
Due: prettier --write

feat: migrate Navigation to shared-ui and implement in admin app
  apps/admin/public/logo.png
  apps/admin/src/app/feature-flags/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/app/server-setup/page.tsx
  apps/admin/src/app/tailwind.css
  apps/admin/src/components/AdminNavigation.tsx
  apps/dashboard/src/app/tailwind.css
  apps/dashboard/src/components/Navigation.tsx
  packages/shared-ui/package.json
  packages/shared-ui/src/index.ts
  packages/shared-ui/src/ui/LanguageSwitcher.tsx
  packages/shared-ui/src/ui/Navigation.tsx
  packages/shared-ui/src/ui/UserMenu.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

test: fix tests after navigation migration to shared-ui
  apps/dashboard/src/test/accessibility.test.tsx
  packages/shared-ui/src/ui/__tests__/LanguageSwitcher.test.tsx
  packages/shared-ui/src/ui/__tests__/Navigation.test.tsx
  packages/shared-ui/src/ui/__tests__/UserMenu.test.tsx
Due: none

chore: clean up unused imports and refine shared-ui test types
  apps/admin/src/app/feature-flags/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/app/server-setup/page.tsx
  apps/admin/src/components/AdminNavigation.tsx
  apps/dashboard/src/test/accessibility.test.tsx
  packages/shared-ui/src/ui/__tests__/Navigation.test.tsx
  packages/shared-ui/src/ui/__tests__/UserMenu.test.tsx
Due: none

fix(worker): resolve port conflict with admin app and improve health server robustness
  .env.example
  apps/worker/src/health-server.ts
Due: prettier --write, eslint --fix

test(api): increase timeout to prevent flakes in integration tests
  apps/api/vitest.config.ts
Due: prettier --write, eslint --fix

Update apps/worker/src/health-server.ts
  apps/worker/src/health-server.ts
Due: prettier --write, eslint --fix

fix(ci): use pull request for issue sync to bypass branch protection
  .github/workflows/sync-issues.yml
Due: prettier --write

chore: sync gh issues
  github_issues.json
Due: prettier --write

fix(dashboard): add shared-ui to tailwind content to fix missing navigation styles
  apps/dashboard/tailwind.config.ts
Due: prettier --write, eslint --fix

chore: disable show-deployments feature as default
  apps/api/src/services/InitializationService.test.ts
  apps/api/src/services/InitializationService.ts
Due: prettier --write, eslint --fix

chore(dashboard): add comment explaining why shared-ui is included in tailwind content
  apps/dashboard/tailwind.config.ts
Due: prettier --write, eslint --fix

fix(shared): improve DockerContainerOrchestrator resilience
  packages/shared/src/orchestration/DockerContainerOrchestrator.ts
Due: prettier --write, eslint --fix

chore: format
  apps/api/src/interfaces/IServiceRepository.ts
Due: prettier --write, eslint --fix

fix(api): fix failing GitHub webhook integration tests by correcting Prisma mocks
  apps/api/src/github.test.ts
  apps/api/src/webhook.test.ts
Due: prettier --write, eslint --fix

chore: sync github_issues.json with created issues [skip ci]
  github_issues.json
Due: prettier --write

fix: race condition in organization creation and service validation
  apps/api/src/controllers/DeploymentController.ts
  apps/api/src/controllers/ServiceController.test.ts
  apps/api/src/controllers/ServiceController.ts
  apps/api/src/github.test.ts
  apps/api/src/rate-limit.test.ts
  apps/api/src/schemas/service.schema.ts
  apps/api/src/services/AuthenticationService.integration.test.ts
  apps/api/src/services/AuthenticationService.test.ts
  apps/api/src/services/AuthenticationService.ts
Due: prettier --write, eslint --fix

chore: add github_issues.json to .prettierignore
  .prettierignore
Due: none

chore: expand .prettierignore with build and generated files
  .prettierignore
Due: none

feat: integrate shared pino logger across worker and api, fix turbo config, and optimize rate limits
  .env.example
  .gitignore
  apps/api/src/config/rateLimit.ts
  apps/api/src/index.ts
  apps/api/src/services/InitializationService.ts
  apps/api/src/utils/statusReconciliation.ts
  apps/worker/src/cleanup.ts
  apps/worker/src/health-server.ts
  apps/worker/src/index.ts
  apps/worker/src/orchestration/NetworkManager.ts
  apps/worker/src/orchestration/VolumeManager.ts
  apps/worker/src/services/imageCleanup.ts
  apps/worker/src/strategies/ComposeDeploymentStrategy.ts
  apps/worker/src/strategies/DatabaseDeploymentStrategy.ts
  apps/worker/src/strategies/StaticDeploymentStrategy.ts
  apps/worker/src/utils/containerHelpers.ts
  apps/worker/src/worker.ts
  package.json
  packages/shared/package.json
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/logger.ts
  packages/shared/src/utils/statusLock.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

refactor: integrate shared logger into tests and fix SSE cleanup test
  apps/api/src/server.ts
  apps/api/src/services/InitializationService.test.ts
  apps/api/src/sse-redis-cleanup.test.ts
  apps/worker/src/health-server.test.ts
  apps/worker/src/orchestration/NetworkManager.test.ts
  apps/worker/src/orchestration/VolumeManager.test.ts
Due: prettier --write, eslint --fix

refactor: remove redundant statusLock implementation in favor of shared package
  apps/api/src/utils/statusLock.test.ts
  apps/api/src/utils/statusLock.ts
  apps/worker/src/utils/statusLock.ts
Due: prettier --write, eslint --fix

Update packages/shared/src/utils/logger.ts
  packages/shared/src/utils/logger.ts
Due: prettier --write, eslint --fix

refactor: standardize logging across api and worker using pino
  apps/api/package.json
  apps/api/src/controllers/AuthController.ts
  apps/api/src/controllers/DeploymentController.test.ts
  apps/api/src/controllers/DeploymentController.ts
  apps/api/src/controllers/GitHubController.test.ts
  apps/api/src/controllers/GitHubController.ts
  apps/api/src/controllers/ServiceController.test.ts
  apps/api/src/controllers/ServiceController.ts
  apps/api/src/controllers/WebhookController.test.ts
  apps/api/src/controllers/WebhookController.ts
  apps/api/src/di/container.ts
  apps/api/src/rate-limit.test.ts
  apps/api/src/server.test.ts
  apps/api/src/server.ts
  apps/api/src/services/InitializationService.test.ts
  apps/api/src/services/InitializationService.ts
  apps/api/src/services/ServiceManagementService.test.ts
  apps/api/src/services/ServiceManagementService.ts
  apps/api/src/utils/crypto.ts
  apps/worker/src/di/container.ts
  apps/worker/src/services/imageCleanup.ts
  apps/worker/src/strategies/DockerDeploymentStrategy.ts
  apps/worker/src/worker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Update apps/api/src/server.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

Update apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/layout.tsx
Due: none

Update apps/dashboard/src/lib/ThemeContext.tsx
  apps/dashboard/src/lib/ThemeContext.tsx
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}
  eslint --fix: any of: **/*.{js,ts,cjs,mjs}
