Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}": "prettier --write",
  "**/*.{js,ts,cjs,mjs}": "eslint --fix"
}

fix: resolve env var access in dashboard and service creation resurrection
  apps/api/src/schemas/service.schema.ts
  apps/api/src/server.ts
  apps/dashboard/src/lib/env.ts
Due: prettier --write, eslint --fix

fix: include deployments in service response and safe access in frontend
  apps/api/src/server.ts
  apps/dashboard/src/components/ServiceCard/ServiceCard.tsx
Due: prettier --write, eslint --fix

feat(ux): auto-deploy service after creation
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

style: pnpm format
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/components/ServiceCard/ServiceCard.tsx
Due: none

fix(api): mock deployment in normalization tests
  apps/api/src/normalization.test.ts
Due: prettier --write, eslint --fix

chore: sync gh issues
  github_issues.json
Due: prettier --write

fix(api): kill parent process on EADDRINUSE to force exit watcher
  apps/api/src/index.ts
Due: prettier --write, eslint --fix

refactor: cleanup imports and formatting in API module
  apps/api/src/controllers/AuthController.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/middleware/error.middleware.ts
  apps/api/src/middleware/validation.middleware.ts
  apps/api/src/routes/auth.routes.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

fix: resolve build errors in api server, auth controller and middlewares
  apps/api/src/controllers/AuthController.ts
  apps/api/src/middleware/validation.middleware.ts
  apps/api/src/server.ts
  apps/api/src/utils/refreshToken.ts
Due: prettier --write, eslint --fix

fix(ci): add redis service and resolve fastify TDZ issue
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): add postgres service and db push to enable integration tests
  .github/workflows/ci.yml
Due: prettier --write

fix(worker): fix failing cleanup tests by adding missing Names property to mock containers
  apps/worker/src/cleanup.test.ts
  apps/worker/src/index.ts
Due: prettier --write, eslint --fix

fix(api,worker): ensure env vars are loaded before other imports to fix ENCRYPTION_SALT warning
  apps/api/src/index.ts
  apps/api/src/load-env.ts
  apps/api/src/server.ts
  apps/worker/src/index.ts
  apps/worker/src/load-env.ts
Due: prettier --write, eslint --fix

chore: update AI agent rules for TDD and quality standards
  .cursorrules
  .github/copilot-instructions.md
  .github/instructions/backend.instructions.md
  .github/instructions/database.instructions.md
  .github/instructions/frontend.instructions.md
  .windsurfrules
  MIGRATION_GUIDE.md
  github_issues.json
Due: prettier --write

fix(worker): handle missing deployment records and add clear-queue script
  apps/worker/src/worker.ts
  scripts/clear-queue.js
Due: prettier --write, eslint --fix

feat: add monitoring stack (Prometheus, Loki, Grafana)
  docker-compose.yml
  grafana-dashboard.json
  monitoring/grafana/provisioning/dashboards/dashboards.yaml
  monitoring/grafana/provisioning/datasources/datasources.yaml
  monitoring/prometheus.yml
  monitoring/promtail-config.yml
Due: prettier --write

docs: update monitoring and observability documentation
  .docs/ARCHITECTURE.md
  METRICS.md
  README.md
Due: prettier --write

docs: move markdown files to .docs directory and update links
  .docs/DATABASE_MIGRATIONS.md
  .docs/DI_IMPLEMENTATION_SUMMARY.md
  .docs/METRICS.md
  .docs/MIGRATION_GUIDE.md
  README.md
Due: prettier --write

docs: move API and Worker documentation to .docs/ directory
  .docs/api/BODY_SIZE_LIMITS.md
  .docs/api/IMPLEMENTATION_SUMMARY.md
  .docs/api/LOGGING.md
  .docs/api/LOGGING_EXAMPLES.md
  .docs/api/SAFE_QUERY_PATTERNS.md
  .docs/worker/HEALTH_CHECK.md
  .docs/worker/INTEGRATION_TESTS.md
  .docs/worker/MONITORING_SETUP.md
  README.md
Due: prettier --write

refactor(api): migrate auth routes to AuthController
  apps/api/src/controllers/AuthController.ts
  apps/api/src/controllers/GitHubController.ts
  apps/api/src/di/container.ts
  apps/api/src/di/tokens.ts
  apps/api/src/github.test.ts
  apps/api/src/routes/auth.routes.ts
  apps/api/src/routes/webhook.routes.ts
  apps/api/src/server.ts
  apps/api/src/services/metrics.service.ts
  apps/api/src/types/fastify.ts
Due: prettier --write, eslint --fix

fix(api): resolve lint errors in API and tests
  apps/api/src/body-limit.test.ts
  apps/api/src/controllers/DeploymentController.test.ts
  apps/api/src/controllers/DeploymentController.ts
  apps/api/src/controllers/GitHubController.test.ts
  apps/api/src/controllers/GitHubController.ts
  apps/api/src/controllers/WebhookController.test.ts
  apps/api/src/controllers/WebhookController.ts
  apps/api/src/github.test.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/normalization.test.ts
  apps/api/src/orchestration/DockerContainerOrchestrator.ts
  apps/api/src/refresh-token.test.ts
  apps/api/src/routes/auth.routes.ts
  apps/api/src/routes/service.routes.ts
  apps/api/src/server.ts
  apps/api/src/services/AuthenticationService.test.ts
  apps/api/src/services/AuthenticationService.ts
  apps/api/src/services/DeploymentOrchestratorService.test.ts
  apps/api/src/services/DeploymentOrchestratorService.ts
  apps/api/src/services/GitHubService.ts
  apps/api/src/services/metrics.service.test.ts
  apps/api/src/sse-token-expiration.test.ts
  apps/api/src/utils/refreshToken.ts
  apps/api/src/utils/statusLock.ts
  apps/api/src/validation.test.ts
  apps/api/src/webhook.test.ts
  apps/worker/src/cleanup.test.ts
  apps/worker/src/cleanup.ts
  apps/worker/src/orchestration/DockerContainerOrchestrator.test.ts
  apps/worker/src/orchestration/DockerContainerOrchestrator.ts
  apps/worker/src/orchestration/HealthChecker.test.ts
  apps/worker/src/orchestration/NetworkManager.test.ts
  apps/worker/src/orchestration/VolumeManager.test.ts
  apps/worker/src/services/imageCleanup.test.ts
  apps/worker/src/services/metrics.service.test.ts
  apps/worker/src/strategies/DatabaseDeploymentStrategy.test.ts
  apps/worker/src/utils/dockerfile-validator.ts
  apps/worker/src/utils/statusLock.ts
  apps/worker/src/worker.ts
  scripts/clear-queue.js
Due: prettier --write, eslint --fix

refactor: eliminate eslint-disable @typescript-eslint/no-explicit-any comments and fix failing tests
  apps/api/src/body-limit.test.ts
  apps/api/src/controllers/DeploymentController.test.ts
  apps/api/src/controllers/DeploymentController.ts
  apps/api/src/controllers/GitHubController.test.ts
  apps/api/src/controllers/GitHubController.ts
  apps/api/src/controllers/WebhookController.test.ts
  apps/api/src/controllers/WebhookController.ts
  apps/api/src/github.test.ts
  apps/api/src/index.ts
  apps/api/src/normalization.test.ts
  apps/api/src/rate-limit.test.ts
  apps/api/src/refresh-token.test.ts
  apps/api/src/services/AuthenticationService.test.ts
  apps/api/src/services/AuthenticationService.ts
  apps/api/src/services/DeploymentOrchestratorService.test.ts
  apps/api/src/sse-token-expiration.test.ts
  apps/api/src/utils/statusLock.ts
  apps/api/src/validation.test.ts
  apps/api/src/webhook.test.ts
  apps/dashboard/vitest.config.ts
  apps/worker/src/cleanup.test.ts
  apps/worker/src/orchestration/DockerContainerOrchestrator.test.ts
  apps/worker/src/orchestration/HealthChecker.test.ts
  apps/worker/src/orchestration/NetworkManager.test.ts
  apps/worker/src/orchestration/VolumeManager.test.ts
  apps/worker/src/services/imageCleanup.test.ts
  apps/worker/src/strategies/DatabaseDeploymentStrategy.test.ts
  apps/worker/src/utils/statusLock.ts
  eslint.config.mjs
Due: prettier --write, eslint --fix

fix(dashboard): prevent unauthorized service fetch on landing page load
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/hooks/useServices.ts
Due: prettier --write, eslint --fix

test(api): make deployment integration tests more resilient to fast workers
  apps/api/src/deployment.integration.test.ts
Due: prettier --write, eslint --fix

test(api): isolate deployment queue in tests for deterministic results
  apps/api/src/deployment.integration.test.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

perf(dashboard): add missing sizes prop to Image components and fix formatting
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/components/UserMenu.tsx
Due: none

fix(api): resolve SSE metrics stream 500 error and improve error reporting
  apps/api/src/config/env.ts
  apps/api/src/controllers/ServiceController.ts
  apps/api/src/middleware/error.middleware.ts
Due: prettier --write, eslint --fix

fix(dashboard): prevent hydration mismatch warnings from browser extensions
  apps/dashboard/src/app/layout.tsx
Due: none

refactor(api): delegate service controller logic to management service
  apps/api/src/controllers/DeploymentController.test.ts
  apps/api/src/controllers/ServiceController.test.ts
  apps/api/src/controllers/ServiceController.ts
  apps/api/src/delete_cleanup.test.ts
  apps/api/src/di/container.ts
  apps/api/src/interfaces/IServiceRepository.ts
  apps/api/src/repositories/PrismaServiceRepository.ts
  apps/api/src/server.ts
  apps/api/src/services/ServiceManagementService.test.ts
  apps/api/src/services/ServiceManagementService.ts
  apps/api/src/status_determination.test.ts
  apps/api/src/webhook.test.ts
Due: prettier --write, eslint --fix

fix(dashboard): correct service creation payload for static sites
  apps/dashboard/src/app/new/page.tsx
Due: none

test(dashboard): add unit test for static site service creation
  apps/dashboard/src/app/new/page.test.tsx
  apps/dashboard/src/app/new/page.tsx
Due: none

feat(dashboard): remove local folder import option for security
  apps/dashboard/src/app/new/page.tsx
Due: none

chore(dashboard): update manual import label to manual git import
  apps/dashboard/src/app/new/page.test.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

refactor(dashboard): move docker compose selection to step 2
  apps/dashboard/src/app/new/page.test.tsx
  apps/dashboard/src/app/new/page.tsx
Due: none

feat(dashboard): add ability to create new environments in project page
  apps/dashboard/src/app/projects/[id]/page.test.tsx
  apps/dashboard/src/app/projects/[id]/page.tsx
  apps/dashboard/src/components/NewEnvironmentModal.tsx
Due: none

fix(dashboard): use correct labels for GHCR config and fix lint error
  apps/dashboard/src/components/service-forms/GHCRConfigFields.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

fix(dashboard): redundant image tag and branch fields
  apps/dashboard/src/components/EditServiceModal.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
Due: none

refactor(dashboard): move service name config to step 3 and auto-fill it
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
  apps/dashboard/src/components/new-service/ImportSourceStep.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.tsx
Due: none
