Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: resolve lint warnings in worker generator tests
  apps/worker/src/utils/generators.test.ts
Due: prettier --write, eslint --fix

feat: include real-time service status in metrics SSE stream
  apps/api/src/server.ts
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

fix: remove unused catch binding in metrics calculation
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

fix: ensure service status updates instantly on redeploy and restart
  apps/api/src/server.ts
  apps/dashboard/src/app/page.tsx
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

fix: prioritize database deployment status over container state
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

test: add verification for service status determination logic
  apps/api/src/status_determination.test.ts
Due: prettier --write, eslint --fix

style: apply formatting to dashboard page
  apps/dashboard/src/app/page.tsx
Due: none

feat(dashboard): responsive navigation and mobile menu refinements
  apps/dashboard/src/components/LanguageSwitcher.test.tsx
  apps/dashboard/src/components/LanguageSwitcher.tsx
  apps/dashboard/src/components/Navigation.test.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

feat: add github issue sync script and cleanup review docs
  HOW_TO_CREATE_ISSUES.md
  PRIORITIZATION.md
  REVIEW_SUMMARY.md
  scripts/sync-github-issues.js
Due: prettier --write, eslint --fix

chore: remove CODE_REVIEW.md as issues are tracked in github
  CODE_REVIEW.md
Due: prettier --write

Update apps/api/src/utils/crypto.test.ts
  apps/api/src/utils/crypto.test.ts
Due: prettier --write, eslint --fix

Update ENCRYPTION_MIGRATION.md
  ENCRYPTION_MIGRATION.md
Due: prettier --write

feat: enhance issue sync with state management and json source
  GITHUB_ISSUES.md
  github_issues.json
  scripts/sync-github-issues.js
Due: prettier --write, eslint --fix

docs: update readme with new issue tracking workflow
  README.md
Due: prettier --write

docs: update AI Agent rules for GitHub Issue workflow
  .cursorrules
  .windsurfrules
Due: none

feat: add synced flag to tracked issues
  github_issues.json
  scripts/sync-github-issues.js
Due: prettier --write, eslint --fix

chore: optimize issue sync to skip already synced items
  scripts/sync-github-issues.js
Due: prettier --write, eslint --fix

chore: disable lint rule for commonjs script
  scripts/sync-github-issues.js
Due: prettier --write, eslint --fix

docs: remove ENCRYPTION_MIGRATION.md and update README
  ENCRYPTION_MIGRATION.md
  README.md
Due: prettier --write

Apply suggestions from code review
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

Update apps/api/src/server.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

Update .github/instructions/frontend.instructions.md
  .github/instructions/frontend.instructions.md
Due: prettier --write

Apply suggestion from @Copilot
  .github/instructions/frontend.instructions.md
Due: prettier --write

Apply suggestions from code review
  .github/copilot-instructions.md
  .github/instructions/backend.instructions.md
Due: prettier --write

fix: resolve build and test failures
  apps/api/src/rate-limit.test.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

fix(api): fix github webhook signature verification and build issues
  apps/api/src/github.test.ts
  apps/api/src/rate-limit.test.ts
  apps/api/src/server.test.ts
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

Update apps/worker/src/utils/workspace.ts
  apps/worker/src/utils/workspace.ts
Due: prettier --write, eslint --fix

test: fix rate-limit tests and add cleanupWorkspace function
  SECURITY.md
  apps/api/src/rate-limit.test.ts
  apps/worker/INTEGRATION_TESTS.md
  apps/worker/src/utils/workspace.ts
  apps/worker/src/worker.integration.test.ts
Due: prettier --write, eslint --fix

fix: suppress TypeScript any type warnings in rate-limit tests
  apps/api/src/rate-limit.test.ts
Due: prettier --write, eslint --fix

ci: skip integration tests in CI environment
  apps/worker/src/worker.integration.test.ts
Due: prettier --write, eslint --fix

fix(worker): remove unused workspace mount and cleanup logic
  SECURITY.md
  apps/api/src/server.ts
  apps/worker/src/utils/workspace.test.ts
  apps/worker/src/utils/workspace.ts
  apps/worker/src/worker.integration.test.ts
  apps/worker/src/worker.test.ts
Due: prettier --write, eslint --fix

Update apps/dashboard/src/lib/QueryProvider.tsx
  apps/dashboard/src/lib/QueryProvider.tsx
Due: none

fix: resolve Redis connection conflict and env loading order
  .env.example
  apps/api/src/index.ts
  apps/api/src/server.ts
  apps/worker/src/health-server.ts
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

docs: move all markdown files except README to .docs folder
  .docs/ACCESSIBILITY_AUDIT.md
  .docs/ACCESSIBILITY_VISUAL_SUMMARY.md
  .docs/ARCHITECTURE.md
  .docs/DOCKER_SECURITY_HARDENING.md
  .docs/DOCKER_SOCKET_PROXY_IMPLEMENTATION.md
  .docs/DOCKER_SOCKET_PROXY_QUICKSTART.md
  .docs/INTEGRATION_TESTS.md
  .docs/KEYBOARD_NAVIGATION.md
  .docs/ROADMAP.md
  .docs/SECURITY.md
  .docs/SECURITY_VALIDATION.md
  .docs/SSE_CONNECTION_LIFECYCLE.md
  .docs/SSE_MEMORY_LEAK_FIX_SUMMARY.md
  .docs/STATUS_LIFECYCLE.md
  .docs/TEST_COVERAGE_REPORT.md
  README.md
Due: prettier --write

fix(worker): resolve buildImage type errors in dockerfile-validator
  apps/worker/src/utils/dockerfile-validator.ts
Due: prettier --write, eslint --fix

fix(workspace): unify types-node and add vitest to workspaces to fix bin path errors
  apps/api/package.json
  apps/dashboard/package.json
  apps/worker/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: sync gh issues
  github_issues.json
Due: prettier --write

fix(api): resolve webhook and sse integration test failures
  apps/api/src/deployment.integration.test.ts
  apps/api/src/server.ts
  apps/api/src/sse.integration.test.ts
  apps/api/src/webhook.integration.test.ts
Due: prettier --write, eslint --fix

chore: enable stream output for dev script
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}
  eslint --fix: any of: **/*.{js,ts,cjs,mjs}
