Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: separate signup page
  apps/dashboard/src/app/login/page.test.tsx
  apps/dashboard/src/app/signup/page.test.tsx
  apps/dashboard/src/app/signup/page.tsx
Due: none

fix(tests): resolve typescript errors in login and signup tests
  apps/dashboard/src/app/login/page.test.tsx
  apps/dashboard/src/app/signup/page.test.tsx
Due: none

chore: format
  apps/dashboard/src/utils/auth.test.tsx
Due: none

test(api): fix integration tests and refactor server lifecycle
  apps/api/src/controllers/PrivacyPolicyController.integration.test.ts
  apps/api/src/controllers/StripeWebhookController.integration.test.ts
  apps/api/src/index.ts
  apps/api/src/server.ts
  apps/api/src/subscription-enforcement.integration.test.ts
Due: prettier --write, eslint --fix

docs: add testing and CI optimization documentation
  .github/CI_OPTIMIZATION.md
  apps/api/TESTING.md
  apps/api/vitest.integration.config.ts
Due: prettier --write, eslint --fix

test: update vitest config for parallel test execution
  apps/api/vitest.config.ts
Due: prettier --write, eslint --fix

test: improve test organization and cleanup
  apps/api/src/auth-validation.test.ts
  apps/api/src/body-limit.test.ts
  apps/api/src/cors.test.ts
  apps/api/src/delete_cleanup.test.ts
  apps/api/src/deployment.integration.test.ts
  apps/api/src/email-auth.integration.test.ts
  apps/api/src/github.test.ts
  apps/api/src/graceful-shutdown.test.ts
  apps/api/src/index.ts
  apps/api/src/logging.test.ts
  apps/api/src/normalization.test.ts
  apps/api/src/rate-limit.test.ts
  apps/api/src/refresh-token.test.ts
  apps/api/src/server.test.ts
  apps/api/src/soft-deletion.test.ts
  apps/api/src/sse-redis-cleanup.test.ts
  apps/api/src/sse-token-expiration.test.ts
  apps/api/src/sse.integration.test.ts
  apps/api/src/status_determination.test.ts
  apps/api/src/subscription-enforcement.integration.test.ts
  apps/api/src/validation.test.ts
  apps/api/src/versioning.test.ts
  apps/api/src/webhook.integration.test.ts
  apps/api/src/webhook.test.ts
Due: prettier --write, eslint --fix

chore: add vitest-pool-workers dependency
  package.json
Due: prettier --write

ci: update CI workflow for parallel test execution
  .github/workflows/ci.yml
  apps/api/docs/STRIPE_WEBHOOK_TESTS.md
Due: prettier --write

refactor: update config imports and test scripts
  apps/api/package.json
  apps/api/src/config/constants.test.ts
  apps/api/src/config/env.test.ts
  apps/api/src/config/stripe.ts
  apps/api/src/config/swagger.ts
Due: prettier --write, eslint --fix

fix(api): use named Redis import from ioredis to fix type errors
  apps/api/src/config/rateLimit.ts
  apps/api/src/services/SubscriptionCheckScheduler.ts
  apps/api/src/utils/refreshToken.ts
Due: prettier --write, eslint --fix

fix: rename integration tests and remove undefined shouldSkip variable
  apps/api/src/sse-redis-cleanup.integration.test.ts
  apps/api/src/versioning.integration.test.ts
Due: prettier --write, eslint --fix

fix(test): add missing stripe webhook secret to test env
  .env.test
Due: none

test(dashboard): fix login and signup tests and enhance setup
  apps/dashboard/src/app/login/page.test.tsx
  apps/dashboard/src/app/signup/page.test.tsx
  apps/dashboard/src/components/auth/AuthBenefits.test.tsx
  apps/dashboard/src/test/setup.ts
  apps/dashboard/vitest.config.ts
Due: prettier --write, eslint --fix

fix(dashboard): improve accessibility and fix auth page logic
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/signup/page.tsx
Due: none

feat(dashboard/api): improve error handling and refactor public route logic
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/server.ts
  apps/dashboard/src/app/auth/github-link-callback/page.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/settings/page.tsx
  apps/dashboard/src/app/signup/page.tsx
  apps/dashboard/src/lib/errorUtils.ts
  apps/dashboard/src/utils/apiErrors.ts
Due: prettier --write, eslint --fix

feat: implement Terms of Service and Privacy Policy acceptance flow
  apps/api/src/controllers/PrivacyPolicyController.ts
  apps/api/src/controllers/TermsController.ts
  apps/api/src/routes/privacy-policy.routes.ts
  apps/api/src/routes/terms.routes.ts
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/new/page.test.tsx
  apps/dashboard/src/app/signup/page.tsx
  apps/dashboard/src/components/PrivacyPolicyAcceptanceModal.tsx
  apps/dashboard/src/components/TermsAcceptanceModal.tsx
  apps/dashboard/src/components/TermsAcceptanceWrapper.tsx
  apps/dashboard/src/hooks/useServices.test.tsx
Due: prettier --write, eslint --fix

chore(api): add scripts to initialize privacy policy and terms
  apps/api/package.json
Due: prettier --write

Update apps/dashboard/src/components/auth/AuthBenefits.tsx
  apps/dashboard/src/components/auth/AuthBenefits.tsx
Due: none

Update apps/dashboard/src/components/auth/AuthBenefits.test.tsx
  apps/dashboard/src/components/auth/AuthBenefits.test.tsx
Due: none

feat: make pricing page public and enhance UI/UX
  apps/dashboard/src/app/billing/page.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/pricing/page.test.tsx
  apps/dashboard/src/app/pricing/page.tsx
  apps/dashboard/src/components/Footer.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/components/billing/AvailablePlans.test.tsx
  apps/dashboard/src/components/billing/AvailablePlans.tsx
  packages/shared-ui/src/ui/Navigation.tsx
Due: none

refactor: optimize navigation flow and fix lint warnings
  apps/dashboard/src/app/pricing/page.test.tsx
  apps/dashboard/src/app/pricing/page.tsx
  apps/dashboard/src/components/Footer.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

fix(api): provide default FREE plan for users without subscription record
  apps/api/src/controllers/BillingController.ts
  apps/api/src/services/SubscriptionService.test.ts
  apps/api/src/services/SubscriptionService.ts
Due: prettier --write, eslint --fix

test(api): update billing integration test descriptions for virtual subscription consistency
  apps/api/src/controllers/BillingController.integration.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}
  eslint --fix: any of: **/*.{js,ts,cjs,mjs}
