Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}": "prettier --write",
  "**/*.{js,ts,cjs,mjs}": "eslint --fix"
}

fix: secure language context, validate storage, and use dynamic year in footer
  apps/dashboard/src/components/CookieBanner.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/lib/LanguageContext.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

style: format conditional class string in `LandingPage.tsx` for improved readability
  apps/dashboard/src/components/LandingPage.tsx
Due: none

feat(api): harden security headers, cookies and input validation
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

fix(dashboard): improve error handling and logout UX
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

docs: update roadmap with completed security improvements
  ROADMAP.md
Due: prettier --write

fix(api): remove unused variables in catch blocks
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

style: apply code formatting
  apps/dashboard/src/app/page.tsx
Due: none

docs: add missing APP_BASE_URL to configuration docs
  .env.example
  README.md
Due: prettier --write

docs: add missing NODE_ENV to configuration docs
  .env.example
  README.md
Due: prettier --write

refactor(api): remove redundant jwt verification in proxy routes
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

fix(api): allow unauthenticated logout
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

feat: implement database-as-a-service
  ROADMAP.md
  apps/api/src/server.ts
  apps/dashboard/src/app/new/page.tsx
  apps/worker/src/worker.ts
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix

style: format code and polish database service ui
  apps/dashboard/src/app/new/page.tsx
Due: none

fix: correct translation path for newService.version
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/lib/translations.ts
Due: prettier --write, eslint --fix

Update apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/new/page.tsx
Due: none

fix: resolve TypeScript errors in new service page and worker
  apps/dashboard/src/app/new/page.tsx
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

fix: add type assertion for REDIS_PASSWORD property access
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

test: add comprehensive database service creation tests
  apps/api/src/server.test.ts
Due: prettier --write, eslint --fix

feat(dashboard): add react-hot-toast and configure toaster
  apps/dashboard/package.json
  apps/dashboard/src/app/layout.tsx
  pnpm-lock.yaml
Due: prettier --write

feat(api): add endpoint to fetch single service details
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

refactor(dashboard): implement toast notifications and optimize service restart
  apps/dashboard/src/app/page.tsx
Due: none

chore: sync lockfile and update scripts
  apps/api/package.json
  apps/worker/package.json
  package.json
  packages/database/package.json
Due: prettier --write

fix: update default postgres port to 5444
  apps/api/src/server.test.ts
  apps/dashboard/src/app/new/page.tsx
Due: prettier --write, eslint --fix

refactor(dashboard): use global language context in landing page
  apps/dashboard/src/components/LandingPage.tsx
Due: none

docs: add production build instructions
  README.md
Due: prettier --write

chore: add build configurations for workspaces
  apps/api/tsconfig.build.json
  apps/worker/tsconfig.build.json
  packages/database/tsconfig.json
Due: prettier --write

chore: update docker-compose ports for local development
  docker-compose.yml
Due: prettier --write

Update apps/dashboard/src/app/page.tsx
  apps/dashboard/src/app/page.tsx
Due: none

style(dashboard): fix linting and formatting issues in page.tsx
  apps/dashboard/src/app/page.tsx
Due: none

chore(api): remove local .env and enforce root .env usage
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

chore(worker): remove local .env and enforce root .env usage
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

chore: consolidate gitignore and enforce root .env
  .gitignore
  apps/dashboard/next.config.ts
Due: prettier --write, eslint --fix

chore: remove redundant local gitignores
  apps/api/.gitignore
  apps/dashboard/.gitignore
  packages/database/.gitignore
Due: none

chore: ignore generated next-env.d.ts files
  .gitignore
Due: none

fix(dashboard): add error handling to fetchService
  apps/dashboard/src/app/page.tsx
Due: none

fix(test): exclude dist directory from vitest execution
  apps/api/vitest.config.ts
  apps/worker/vitest.config.ts
Due: prettier --write, eslint --fix

refactor(api): extract status logic to determineServiceStatus
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

fix(api): replace deprecated routerPath with routeOptions.url
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

fix(database): add exports field to package.json to fix module resolution
  packages/database/package.json
Due: prettier --write
