Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(api): allow same service names in different environments
  apps/api/src/interfaces/IServiceRepository.ts
  apps/api/src/normalization.test.ts
  apps/api/src/repositories/PrismaServiceRepository.ts
  apps/api/src/services/ServiceManagementService.ts
  apps/dashboard/src/app/new/page.test.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/app/projects/[id]/page.tsx
  apps/dashboard/src/components/Footer.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/components/NewProjectModal.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
  apps/dashboard/src/components/new-service/ImportSourceStep.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.tsx
  apps/dashboard/src/lib/translations.ts
  packages/database/prisma/migrations/20260112112132_service_unique_per_environment/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix

fix(api): correct /auth/me route path
  apps/api/src/routes/auth.routes.ts
Due: prettier --write, eslint --fix

fix(dashboard): github connection status showing as disconnected
  apps/dashboard/src/app/settings/page.tsx
Due: none

fix(tests): add environmentId to service creation tests
  apps/api/src/services/ServiceManagementService.test.ts
  apps/dashboard/src/app/new/page.test.tsx
Due: prettier --write, eslint --fix

fix(tests): add environmentId to remaining test files
  apps/api/src/server.test.ts
  apps/api/src/validation.test.ts
Due: prettier --write, eslint --fix

fix(tests): resolve remaining api test failures
  apps/api/src/body-limit.test.ts
  apps/api/src/controllers/WebhookController.ts
  apps/api/src/normalization.test.ts
  apps/api/src/repositories/PrismaServiceRepository.test.ts
  apps/api/src/server.test.ts
  apps/api/src/services/ServiceManagementService.test.ts
  apps/api/src/validation.test.ts
  apps/api/src/webhook.integration.test.ts
Due: prettier --write, eslint --fix

fix(lint): remove unused variable in test
  apps/api/src/services/ServiceManagementService.test.ts
Due: prettier --write, eslint --fix

chore: ignore tsbuildinfo files and remove from git
  .gitignore
  apps/dashboard/tsconfig.tsbuildinfo
Due: none

test(dashboard): increase test coverage to >60% and fix failing tests
  apps/api/src/services/ServiceManagementService.test.ts
  apps/dashboard/src/app/projects/[id]/page.test.tsx
  apps/dashboard/src/components/GitHubImagePicker.test.tsx
  apps/dashboard/src/components/LanguageSwitcher.test.tsx
  apps/dashboard/src/components/UserMenu.test.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.test.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.test.tsx
  apps/dashboard/src/components/new-service/StepIndicator.test.tsx
  apps/dashboard/src/components/service-forms/ConfigFields.test.tsx
  apps/dashboard/src/hooks/useServices.test.tsx
  apps/dashboard/src/lib/errorUtils.test.ts
  apps/dashboard/src/lib/tokenRefresh.test.ts
  apps/dashboard/src/lib/tokenRefresh.ts
Due: prettier --write, eslint --fix

style: apply code formatting
  apps/dashboard/src/app/projects/[id]/page.test.tsx
  apps/dashboard/src/components/LanguageSwitcher.test.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.test.tsx
  apps/dashboard/src/hooks/useServices.test.tsx
Due: none

fix(dashboard): resolve all lint warnings in tests
  apps/dashboard/src/components/GitHubImagePicker.test.tsx
  apps/dashboard/src/components/UserMenu.test.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.test.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.test.tsx
  apps/dashboard/src/components/new-service/StepIndicator.test.tsx
  apps/dashboard/src/components/service-forms/ConfigFields.test.tsx
  apps/dashboard/src/hooks/useServices.test.tsx
Due: none

fix: service form data mismatch, test translations and linting
  apps/api/src/services/ServiceManagementService.test.ts
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/projects/[id]/page.test.tsx
  apps/dashboard/src/components/GitHubImagePicker.test.tsx
  apps/dashboard/src/components/LanguageSwitcher.test.tsx
  apps/dashboard/src/components/UserMenu.test.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.test.tsx
  apps/dashboard/src/components/new-service/ConfigurationStep.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.test.tsx
  apps/dashboard/src/components/new-service/StepIndicator.test.tsx
  apps/dashboard/src/components/new-service/types.ts
  apps/dashboard/src/components/service-forms/ConfigFields.test.tsx
  apps/dashboard/src/hooks/useServices.test.tsx
  apps/dashboard/src/lib/LanguageContext.tsx
  apps/dashboard/src/types/service.ts
  apps/worker/src/utils/containerHelpers.ts
Due: prettier --write, eslint --fix

chore: format
  apps/dashboard/src/components/GitHubImagePicker.test.tsx
Due: none

fix(dashboard): update ConfigurationStep test mocks to return partial data
  apps/dashboard/src/components/new-service/ConfigurationStep.test.tsx
Due: none

chore: save all pending changes including metrics handler, worker updates and test fixes
  apps/api/src/handlers/metrics.handler.test.ts
  apps/api/src/handlers/metrics.handler.ts
  apps/api/src/utils/helpers/status.helper.ts
  apps/dashboard/src/app/projects/[id]/page.test.tsx
  apps/worker/src/worker.ts
Due: prettier --write, eslint --fix

feat: immediate container name update on service edit and restart
  apps/api/src/body-limit.test.ts
  apps/api/src/controllers/DeploymentController.test.ts
  apps/api/src/controllers/DeploymentController.ts
  apps/api/src/controllers/ServiceController.ts
  apps/api/src/validation.test.ts
  apps/dashboard/src/hooks/useServices.test.tsx
  apps/dashboard/src/hooks/useServices.ts
Due: prettier --write, eslint --fix

refactor(dashboard): remove unnecessary Start Command field from Docker services
  apps/dashboard/src/components/service-forms/ConfigFields.test.tsx
  apps/dashboard/src/components/service-forms/DockerConfigFields.tsx
  apps/dashboard/src/components/service-forms/GHCRConfigFields.tsx
Due: none

Update apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/index.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript error in versioning test
  apps/api/src/versioning.test.ts
Due: prettier --write, eslint --fix

refactor: improve public route authentication logic
  apps/api/src/controllers/AuthController.ts
  apps/api/src/controllers/WebhookController.test.ts
  apps/api/src/controllers/WebhookController.ts
  apps/api/src/refresh-token.test.ts
  apps/api/src/server.test.ts
  apps/api/src/server.ts
  apps/api/src/webhook.integration.test.ts
  docs/API_VERSIONING.md
Due: prettier --write, eslint --fix

fix: tests
  apps/api/src/routes/feature-flag.routes.ts
Due: prettier --write, eslint --fix

refactor: implement FeatureFlagController and update routes
  apps/api/src/controllers/FeatureFlagController.test.ts
  apps/api/src/controllers/FeatureFlagController.ts
  apps/api/src/di/container.ts
  apps/api/src/di/tokens.ts
  apps/api/src/routes/feature-flag.routes.ts
  apps/api/src/schemas/feature-flag.schema.ts
  github_issues.json
Due: prettier --write, eslint --fix

perf: optimize GitHub issue label synchronization and sync new issues
  github_issues.json
  scripts/sync-github-issues.js
Due: prettier --write, eslint --fix

fix: remove redundant /api/v1 from feature flags API calls
  apps/dashboard/src/app/admin/feature-flags/page.tsx
  apps/dashboard/src/lib/featureFlags.ts
Due: prettier --write, eslint --fix

fix: resolve feature flag creation error and add deployments toggle
  apps/api/src/controllers/FeatureFlagController.ts
  apps/api/src/interfaces/IServiceRepository.ts
  apps/api/src/repositories/PrismaDeploymentRepository.ts
  apps/api/src/repositories/PrismaFeatureFlagRepository.test.ts
  apps/api/src/repositories/PrismaFeatureFlagRepository.ts
  apps/api/src/repositories/PrismaServiceRepository.test.ts
  apps/api/src/repositories/PrismaServiceRepository.ts
  apps/api/src/repositories/PrismaUserRepository.ts
  apps/api/src/server.ts
  apps/dashboard/src/app/admin/feature-flags/page.tsx
  apps/dashboard/src/app/deployments/page.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: prettier --write, eslint --fix

feat(database): add role and password to user model
  packages/database/prisma/schema.prisma
Due: none

feat(api): implement organization management backend
  apps/api/src/controllers/OrganizationController.ts
  apps/api/src/di/tokens.ts
  apps/api/src/interfaces/IOrganizationRepository.ts
  apps/api/src/repositories/PrismaOrganizationRepository.ts
  apps/api/src/routes/organization.routes.ts
  apps/api/src/services/OrganizationService.test.ts
  apps/api/src/services/OrganizationService.ts
Due: prettier --write, eslint --fix

feat(api): add local admin auth and platform initialization
  .env.example
  apps/api/src/config/env.ts
  apps/api/src/di/container.ts
  apps/api/src/dto/auth.dto.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/routes/auth.routes.ts
  apps/api/src/routes/feature-flag.routes.ts
  apps/api/src/services/AuthenticationService.ts
  apps/api/src/services/InitializationService.ts
  apps/api/src/types/fastify.ts
  apps/api/src/utils/refreshToken.ts
Due: prettier --write, eslint --fix

feat(dashboard): implement admin login and role-based navigation
  apps/dashboard/src/app/admin/feature-flags/page.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/components/UserMenu.tsx
Due: none

feat(dashboard): add organization switching and management UI
  apps/dashboard/src/app/organizations/[id]/settings/page.tsx
  apps/dashboard/src/components/OrganizationSwitcher.tsx
  apps/dashboard/src/components/organizations/MemberManagement.tsx
  apps/dashboard/src/hooks/useOrganizations.ts
  apps/dashboard/src/lib/OrganizationContext.tsx
  apps/dashboard/src/types/organization.ts
Due: prettier --write, eslint --fix

chore(i18n): update translations for admin login
  apps/dashboard/src/locales/de.json
  apps/dashboard/src/locales/en.json
  apps/dashboard/src/locales/fr.json
  apps/dashboard/src/locales/gsw.json
  apps/dashboard/src/locales/it.json
Due: prettier --write

refactor: update user and project interfaces for role support
  apps/api/src/controllers/ProjectController.ts
  apps/api/src/interfaces/IProjectManagementService.ts
  apps/api/src/interfaces/IProjectRepository.ts
  apps/api/src/interfaces/IUserRepository.ts
  apps/api/src/interfaces/index.ts
  apps/api/src/repositories/PrismaProjectRepository.ts
  apps/api/src/repositories/PrismaUserRepository.ts
  apps/api/src/repositories/index.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/services/ProjectManagementService.ts
  apps/api/src/services/ServiceManagementService.ts
  apps/dashboard/src/components/new-service/ProjectNameStep.tsx
  apps/dashboard/src/hooks/useProjects.ts
Due: prettier --write, eslint --fix

test: fix and update tests for admin auth and organizations
  apps/api/src/controllers/AuthController.ts
  apps/api/src/github.test.ts
  apps/api/src/index.ts
  apps/api/src/rate-limit.test.ts
  apps/api/src/server.ts
  apps/api/src/services/AuthenticationService.test.ts
  apps/api/src/services/DeploymentOrchestratorService.test.ts
  apps/api/src/services/DeploymentOrchestratorService.ts
  apps/api/src/services/ServiceManagementService.test.ts
  apps/api/src/services/index.ts
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/new/page.test.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/Navigation.test.tsx
  apps/dashboard/src/components/UserMenu.test.tsx
  apps/dashboard/src/components/new-service/ProjectNameStep.test.tsx
  apps/dashboard/src/test/accessibility.test.tsx
Due: prettier --write, eslint --fix

perf: prevent unnecessary API calls when logged out
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/hooks/useOrganizations.ts
  apps/dashboard/src/lib/OrganizationContext.tsx
  apps/dashboard/src/lib/featureFlags.ts
  apps/dashboard/src/lib/tokenRefresh.test.ts
  apps/dashboard/src/lib/tokenRefresh.ts
Due: prettier --write, eslint --fix

refactor: replace anchor tags with Next.js Link components
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

feat(admin): create dedicated admin login and dashboard pages
  apps/dashboard/src/app/admin/login/page.tsx
  apps/dashboard/src/app/admin/page.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/components/Navigation.tsx
Due: none

feat(dashboard): update ServiceCard design and cleanup Navigation
  apps/dashboard/src/app/admin/page.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/dashboard/src/components/ServiceCard/ServiceCard.tsx
Due: none

refactor: remove unused useLanguage hook and fix formatting
  apps/dashboard/src/app/admin/page.tsx
  apps/dashboard/src/components/ServiceCard/ServiceCard.tsx
Due: none

fix(db): add missing migration for user roles and password
  packages/database/prisma/migrations/20260113084101_add_roles_to_user/migration.sql
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,ts,cjs,mjs,json,md,css,yml,yaml}
  eslint --fix: any of: **/*.{js,ts,cjs,mjs}
