Repository ramiz4/helvetia-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add AI agent coding rules for Cursor, Windsurf, and Copilot
  .cursorrules
  .github/copilot-instructions.md
  .windsurfrules
  ROADMAP.md
Due: prettier --write

chore: update AI agent workflow rules
  .cursorrules
  .github/copilot-instructions.md
  .windsurfrules
Due: prettier --write

feat(dashboard): implement phase 5 ui/ux improvements
  ROADMAP.md
  apps/dashboard/package.json
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/Navigation.tsx
  pnpm-lock.yaml
Due: prettier --write

feat(dashboard): implement public landing page
  ROADMAP.md
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/LandingPage.tsx
Due: prettier --write

feat(dashboard): implement github repository picker
  ROADMAP.md
  apps/dashboard/src/app/auth/callback/page.tsx
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
Due: prettier --write

feat: expand roadmap with code quality and technical debt tasks
  ROADMAP.md
Due: prettier --write

fix: resolve all eslint warnings and update Tailwind v4 gradient utilities
  .vscode/settings.json
  ROADMAP.md
  apps/api/src/server.ts
  apps/dashboard/src/app/auth/callback/page.tsx
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/components/LandingPage.tsx
  apps/dashboard/src/components/Navigation.tsx
  apps/worker/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add container restart and improve static app support
  apps/api/src/server.ts
  apps/dashboard/src/app/page.tsx
  apps/worker/src/index.ts
Due: prettier --write, eslint --fix

fix: improve service card button layout and WebSocket auth
  apps/dashboard/src/app/page.tsx
Due: none

Update apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
Due: none

docs: add token security concern to roadmap
  ROADMAP.md
Due: prettier --write

fix(dashboard): correct active services count display
  apps/api/src/server.ts
  apps/dashboard/src/app/page.tsx
Due: prettier --write, eslint --fix

Apply suggestions from code review
  apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/lib/github.ts
Due: prettier --write, eslint --fix

style: apply prettier formatting
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/components/GitHubRepoPicker.tsx
  apps/dashboard/src/utils/serviceName.test.ts
  apps/dashboard/src/utils/serviceName.ts
Due: prettier --write, eslint --fix

style(dashboard): add green background for RUNNING status badge
  apps/dashboard/src/app/globals.css
Due: none

feat: implement static site service with nginx and improved dashboard UI
  ROADMAP.md
  apps/api/src/server.ts
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/worker/src/index.ts
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix

fix: modernize tailwindcss v4 setup and fix turbopack warnings
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/postcss.config.mjs
  apps/dashboard/src/app/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: improve static site deployment reliability, SPA routing, and dashboard UX
  apps/api/src/server.ts
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/app/page.tsx
  apps/worker/src/index.ts
Due: prettier --write, eslint --fix

Apply suggestions from code review
  apps/api/src/server.ts
  apps/dashboard/src/app/new/page.tsx
  apps/dashboard/src/app/page.tsx
Due: prettier --write, eslint --fix

fix(core): improve validation, port defaults, and build logic
  apps/api/src/server.ts
  apps/dashboard/src/app/page.tsx
  apps/worker/src/index.ts
Due: prettier --write, eslint --fix

style: format dashboard code and update globals.css
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/app/new/page.tsx
  pnpm-lock.yaml
Due: none

docs: mark phase 5 as completed in the ROADMAP
  ROADMAP.md
Due: prettier --write

feat: add CODEOWNERS file to the project roadmap
  ROADMAP.md
Due: prettier --write

docs: add CI/CD and CODEOWNERS tasks to roadmap
  ROADMAP.md
Due: prettier --write

docs: update comprehensive project documentation and mark task as complete
  ARCHITECTURE.md
  README.md
  ROADMAP.md
  apps/dashboard/README.md
Due: prettier --write

docs: update documentation, implement CODEOWNERS, and mark roadmap tasks
  .github/CODEOWNERS
  ARCHITECTURE.md
  README.md
  ROADMAP.md
  apps/dashboard/README.md
Due: prettier --write

feat: add CI/CD pipeline with GitHub Actions, testing, and security scanning
  .github/workflows/ci.yml
  ARCHITECTURE.md
  ROADMAP.md
  apps/api/package.json
  apps/api/src/placeholder.test.ts
  apps/dashboard/package.json
  apps/dashboard/src/utils/serviceName.test.ts
  apps/worker/package.json
  apps/worker/src/placeholder.test.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs(roadmap): add comprehensive testing task
  ROADMAP.md
Due: prettier --write

ci: remove explicit pnpm version constraint from workflow
  .github/workflows/ci.yml
Due: none

chore: update pnpm-lock.yaml and fix whitespace in CI branch names
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

ci: fix pnpm version conflict and resolve CodeQL duplication
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 2: Missing rate limiting
  apps/api/package.json
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

ci: fix pnpm cache path validation error in security job
  .github/workflows/ci.yml
Due: none

ci: add pnpm install to security job and re-enable cache
  .github/workflows/ci.yml
Due: none

chore: remove .env.example from .gitignore and track it
  .env.example
  .gitignore
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix(api): remove unsupported namespace option from rate-limit config
  apps/api/src/server.ts
Due: prettier --write, eslint --fix

chore: update lint-staged to match all subdirectories
  .lintstagedrc
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,cjs,mjs,json,md}
  eslint --fix: any of: *.{js,ts,cjs,mjs}
